<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:batch="http://www.springframework.org/schema/batch"
       xsi:schemaLocation="http://www.springframework.org/schema/batch http://www.springframework.org/schema/batch/spring-batch.xsd
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <import resource="spring-batch.xml"/>


    <!-- Job信息的配置 -->
    <batch:job id="fixedLengthJob">
        <batch:step id="fixedLengthStep">
            <tasklet>
                <chunk reader="fixedLengthReader" writer="fixedLengthWriter" processor="fixedLengthProcessor" commit-interval="10">
                    <skippable-exception-classes>
                        <include class="org.springframework.batch.item.file.FlatFileParseException"/>
                        <include class="java.lang.Exception"/>
                        <exclude class="java.io.FileNotFoundException"/>
                    </skippable-exception-classes>
                </chunk>
            </tasklet>
        </batch:step>
    </batch:job>

    <bean id="fixedLengthProcessor" class="com.ryan.spring.batch.processor.FixedLengthProcessor" />

    <!-- 固定长文件的读信息的配置 -->
    <bean id="fixedLengthReader" class="org.springframework.batch.item.file.FlatFileItemReader" scope="step">
        <property name="resource" value="file:#{jobParameters['inputFilePath']}"/>
        <property name="lineMapper">
            <bean class="org.springframework.batch.item.file.mapping.DefaultLineMapper">
                <property name="lineTokenizer" ref="lineTokenizer"/>
                <property name="fieldSetMapper">
                    <bean class="org.springframework.batch.item.file.mapping.BeanWrapperFieldSetMapper">
                        <property name="prototypeBeanName" value="studentBean"/>
                    </bean>
                </property>
            </bean>
        </property>
    </bean>


    <bean id="studentBean" class="com.ryan.spring.data.entity.Student" scope="prototype"/>

    <bean id="lineTokenizer" class="org.springframework.batch.item.file.transform.FixedLengthTokenizer">
        <property name="columns" value="1-6,7-15,16-18,19-"/>
        <property name="names" value="uid,uname,age,score"/>
    </bean>

    <!-- 固定长格式文件的写 -->
    <bean id="fixedLengthWriter" class="org.springframework.batch.item.file.FlatFileItemWriter" scope="step">
        <property name="resource" value="file:#{jobParameters['outputFilePath']}"/>
        <property name="lineAggregator">
            <bean class="org.springframework.batch.item.file.transform.FormatterLineAggregator">
                <property name="fieldExtractor">
                    <bean class="org.springframework.batch.item.file.transform.BeanWrapperFieldExtractor">
                        <property name="names" value="uid,uname,age,score"/>
                    </bean>
                </property>
                <!--<property name="format" value="%-9s%-20s%3d%-2.0f"/>-->
                <property name="format" value="%-9s%-20s%3d%5d"/>
            </bean>
        </property>
    </bean>

</beans>