<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:cache="http://www.springframework.org/schema/cache"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
	   http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
	   http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">



    <!--配置文件，在程序中获取配置项的时候使用-->
    <!--<util:properties id="config" location="classpath:config.properties"/>-->

    <!--&lt;!&ndash;  多节点线上配置  &ndash;&gt;-->
    <!--<bean id="redic1" class="com.robert.redis.redic.Redic" init-method="init">-->
        <!--<property name="nodeConnStrs">-->
            <!--<list>-->
                <!--<value>${redic.cache.node.conn1}</value>-->
                <!--<value>${redic.cache.node.conn2}</value>-->
            <!--</list>-->
        <!--</property>-->
    <!--</bean>-->


    <!--&lt;!&ndash;  多节点读写分离线上配置  &ndash;&gt;-->
    <!--<bean id="redic2" class="com.robert.redis.redic.Redic" init-method="init">-->
        <!--<property name="readWriteSeparate" value=${redic.cache.readWriteSeparate}>-->
        <!--<property name="nodeConnStrs">-->
            <!--<list>-->
                <!--<value>${redic.cache.node.conn1}</value>-->
                <!--<value>${redic.cache.node.conn2}</value>-->
            <!--</list>-->
        <!--</property>-->
    <!--</bean>-->


    <!--  from :   https://gitee.com/robertleepeak/redic   -->
</beans>